* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #f4f4f4;
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

#pic{
    border-radius: 10px;
    border-style: dashed;
    border-color: black;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.contact-section {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

.contact-left {
    flex: 1;
    margin-right: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 20px;
    animation: slideInFromLeft 1s ease-out forwards;
}

.contact-left h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.contact-left p {
    max-width: 500px;
    font-size: 1rem;
    line-height: 1.5;
    color: white;
}

.contact-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 60px;
    margin-bottom: 20px;
    animation: slideInFromRight 1s ease-out forwards;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(270deg, #e4bce8, #d6b6e7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.4);
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.text {
    color: white;
    font-size: 2rem;
    font-weight: bolder;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.input label {
    font-size: 1rem;
    font-weight: 500;
    color: black;
}

#EYD{
    color:black;
}

.inputs input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    border: 2px solid #ccc;
    transition: border 0.3s;
}

.inputs input:focus {
    border-color: black;
}

.submit1 {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.3s;
    width: 100%;
}

.submit1:hover {
    background-color: hsl(279, 90%, 60%);
    transform: scale(1,1.2);
    transition: 0.2sec;
}

.popup {
    width: 400px;
    border-radius: 10px;
    position: fixed;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.popup img {
    width: 100px;
    margin-top: -50px;
}

.popup h3 {
    font-size: 1.5rem;
    color: black;
}

.popup p {
    color: black;
}

.popup button {
    width: 100%;
    margin-top: 20px;
    padding: 10px 0;
    background: black;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.popup button:hover {
    background-color: hsl(279, 90%, 60%);
    
}

.donate {
    width: 70px;
    margin: 20px auto;
}

.rise {
    font-size: 1.5rem;
    color: white;
    text-align: center;
}

